.App {
  font-family: sans-serif;
}

.Flamechart__root {
  contain: strict;
  position: relative;
}

.Flamechart__rect {
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid 2px white;
  border-top: 0;
  border-left: 0; */
  border-radius: 2px;
  contain: strict;
  box-sizing: border-box;
}

.Flamechart__rectCSSAnim {
  transition: all 0.3s ease-in-out;
}

.Flamechart__text {
  cursor: default;
  contain: strict;
  width: 100px;
  height: 20px; /* keep in sync with NODE_HEIGHT */
  font-family: 'Lucida Grande', sans-serif;
  font-size: 11px;
  word-wrap: none;
  padding-top: 2px;
  padding-left: 4px;
  text-wrap-mode: nowrap;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .Flamechart__rect {
    border-color: #fff;
  }

  .Flamechart__text {
    color: #000;
  }
  
  body {
    background-color: #111;
    color: #fff;
  }
}

